@media screen and (max-width: 980px) {
  .wrapper__main_content {
    flex-direction: column;

  }

  .history_of_indicators {
    min-width: 980px;
    max-height: 300px;
  }

  .calculation_area {
    min-height: 100%;
  }
}

.wrapper__main_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: #40414F;
}

.calculation_area {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 2;
  height: 77vh;
}

.calculation_form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.costs_fieldset {
  background-color: #464750;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.utilities {
  display: flex;
  flex-grow: 1;
  background-color: #fff;
}

.utilities_label {
  background-color: #464750;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/* .input {
  width: auto;
} */

:focus::placeholder {
  color: transparent;
}

.utilities_fieldset {
  background-color: #464750;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.calculation_form__costs {
  background-color: #464750;
  border-bottom: 1px #9ba0a8 solid;
}

.calculation_form__water_indicators {
  background-color: #464750;
  border-bottom: 1px #8ed9ec solid;
}

.calculation_form__electricity_indicators {
  background-color: #464750;
  border-bottom: 1px #b66634 solid;
}

.calculation_form__gas_indicators {
  background-color: #464750;
  border-bottom: 1px #3e4cea solid;
}

.calculation_form__total_payment {
  background-color: #464750;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px #9ba0a8 solid;
}

#total_to_pay__label {
  flex-grow: 1;
  flex-wrap: wrap;
}

#calculate_buttons_block {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  background-color: #464750;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 3px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.history_of_indicators {
  background-color: #464750;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 300px;
  flex: 1;
  height: 77vh;
}

td {
  border: #000000 solid 1px;
}
