/* @media screen and (max-width: 980px) {
  .main_content {
    flex-direction: column;

  }

  .history_of_indicators {
    min-width: 100%;
    max-height: 300px;
  }

  .calculation_area {
    min-height: 100%;
  }

  .utilities_conteiner {
    flex-direction: column;
  }

  .utilities_fieldset {
    flex-direction: column;
    align-content: flex-start;
  }
} */

.main_content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}

.calculation_form {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1rem;
}

.costs_fieldset {
  background-color: #bae8e8;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.additional_services_fieldset {
  background-color: #bae8e8;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.utilities_conteiner {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  /* flex-grow: 1; */
}

.utilities_fieldset {
  background-color: #bae8e8;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 1rem;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.utilities_label {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* .input {
  width: auto;
} */

:focus::placeholder {
  color: transparent;
}

.total_payment {
  background-color: #bae8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.button {
  background-color: #e6e7f7;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 3px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  text-align: center;
}

.history_of_indicators {
  background-color: #bfbfdf;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex: 1;
  max-height: 720px;
  border-radius: 10px;
}

td {
  border: #2c2450 solid 1px;
}
