* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.input {
  width: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.wrapper_header {
  display: flex;
  height: 100px;
  background-color: green;
}

.header_logo {
  width: max-content;
  background-color: aqua;
}

.header_userbar {
  background-color: #202123;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px;
}

.login_button {
  display: flex;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #464750;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header_userbar_login_button:hover {
  background-color: #1859c9db;
}

.wrapper_footer {
  display: flex;
  height: 100px;
  flex: 0 0 auto;
  color: aliceblue;
  background-color: black;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100px;
  background-color: #202123;
}

.footer_social {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #202123;
}

.footer_feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100px;
  background-color: #202123;
}
