* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_header {
  display: flex;
  height: 100px;
  background-color: green;
}

.header_logo {
  width: max-content;
  background-color: aqua;
}

.header_userbar {
  background-color: rgb(68, 0, 255);
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 10px;
}

.login_button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #1859c9;
  cursor: pointer;
}

.header_userbar_login-button:hover {
  background-color: #1859c9db;
}

.wrapper_main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(91, 157, 244);
}

.main-content {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.calculation-area {
  width: 100%;
  flex-grow: 1;
  background-color: #b0264b;
}

.utilities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
}

.main-content__calculation-area__costs {
  flex: 1;
  border-bottom: 1px #9ba0a8 solid;
}

.main-content__calculation-area__water-indicators {
  flex: 1;
  border-bottom: 1px #8ed9ec solid;
}

.main-content__calculation-area__electricity-indicators {
  flex: 1;
  border-bottom: 1px #b66634 solid;
}

.main-content__calculation-area__gas-indicators {
  flex: 1;
  border-bottom: 1px #3e4cea solid;
}

.main-content__calculation-area__total-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  border-bottom: 1px #9ba0a8 solid;
}

#total-payment_costs {
  width: 100%;
  display: flex;
  justify-content:space-between ;
}

#save_calculation_button {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  margin: 0 10px 0 0;
}

.history_of_indicators_div {
  justify-content: flex-start;
  max-height: 150px;
  overflow:scroll;
}

.main-content_address-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-address-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 150px;
  margin: 5px 10px 5px 15%;
  border-radius: 7px;
  background-color: yellow;
}

.card-text {
  margin: 15px 0 0 0;
}

.house_img {
  margin: 0 0 15px 0;
  border-radius: 10%;
}

.new-address-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 150px;
  margin: 5px 15% 5px 5px;
  border-radius: 7px;
  text-align: center;
  background-color: yellow;
}

.new-address_img {
  margin: 0 0 15px 0;
  border-radius: 10%;
}

.main-content_calculate-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-content__calculate-card_button {
  flex: 1;
  margin: 5px 15%;
  height: 50px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

.wrapper_footer {
  display: flex;
  height: 100px;
  flex: 0 0 auto;
  color: aliceblue;
  background-color: black;
}

.footer_contacts {
  flex: 1;
  height: 100px;
  background-color: rgb(208, 43, 43);
}

.footer_social {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(222, 134, 134);
}

.footer_feedback {
  flex: 1;
  height: 100px;
  background-color: rgb(237, 181, 181);
}
