.wrapper__main_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(91, 157, 244);
}

.calculation_area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;
  background-color: #b0264b;
}

.calculation_form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.costs_fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.utilities {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  background-color: #fff;
}

.utilities_label {
  display: flex;
  flex-wrap: wrap;
}

:focus::placeholder {
  color: transparent;
}

.utilities_fieldset {
  display: flex;
  align-items: center;
  width: 100%;
}

.calculation_form__costs {
  border-bottom: 1px #9ba0a8 solid;
}

.calculation_form__water_indicators {
  border-bottom: 1px #8ed9ec solid;
}

.calculation_form__electricity_indicators {
  border-bottom: 1px #b66634 solid;
}

.calculation_form__gas_indicators {
  border-bottom: 1px #3e4cea solid;
}

.calculation_form__total_payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #9ba0a8 solid;
}

.button {
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25);
}

.history_of_indicators {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 250px;
  width: 100%;
}
